.cursor {
  animation-duration: .3s;
}

.cursor.bored {
  animation-name: boredom;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

@keyframes boredom {
  from {
    transform: translateY(5px);
  }

  to {
    transform: translateY(-10px);
  }
}
